@font-face {
  font-family: "futura";
  src: url("../fonts/FuturaPT-Bold.woff") format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "futura";
  src: url("../fonts/FuturaPT-Bold.woff2") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "futura";
  src: url("../fonts/FuturaPT-Medium.woff") format('woff');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "futura";
  src: url("../fonts/FuturaPT-Medium.woff2") format('woff');
  font-weight: medium;
  font-style: normal;
}