*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
	font-family: "futura";
    padding: 0;
    background-image: url('../images/bg.png');
}

img{
    object-fit: cover;
}